/***********************************************************************
/* 5 colors scheme
 */
/* darker , for boxes and base color */
/* dark  */
/* lighter , for body bg and footer*/
/* dark2 */
/* darker2 , for top menu and links */
/***********************************************************************
 * Otions Switches
 */
/* activate left border on menu */
/* global switch */
/* menu header has bottom border only: light theme */
/* def.: 76% */
/***********************************************************************
/* Derived colors
 */
/* Layout small bits */
/* menu top font-weight */
/* .moduletable .menu */
/**********************************************************************/
/* Computed styles
 */
/* page title */
/* article title */
/* black */
/**
 * Bootstrap-like classes

.hidden-xs
.hidden-sm
.hidden-md
.hidden-lg

.visible-xs-*
.visible-sm-*
.visible-md-*
.visible-lg-*

.visible-*-block 	display: block;
.visible-*-inline 	display: inline;
.visible-*-inline-block 	display: inline-block;


*/
/* same as icon & text */
.fap-small .hidden-small {
  display: none;
}
.fap-xs .hidden-phone,
.fap-xs .hidden-xs {
  display: none;
}
.fap-sm .hidden-sm {
  display: none;
}
.fap-md .hidden-md {
  display: none;
}
.fap-lg .hidden-lg {
  display: none;
}
.visible-small-block,
.visible-small-inline,
.visible-small-inline-block {
  display: none;
}
.fap-small .visible-small-block {
  display: block;
}
.fap-small .visible-small-inline {
  display: inline;
}
.fap-small .visible-small-inline-block {
  display: inline-block;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
  display: none;
}
.fap-xs .visible-xs-block {
  display: block;
}
.fap-xs .visible-xs-inline {
  display: inline;
}
.fap-xs .visible-xs-inline-block {
  display: inline-block;
}
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block {
  display: none;
}
.fap-sm .visible-sm-block {
  display: block;
}
.fap-sm .visible-sm-inline {
  display: inline;
}
.fap-sm .visible-sm-inline-block {
  display: inline-block;
}
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block {
  display: none;
}
.fap-md .visible-md-block {
  display: block;
}
.fap-md .visible-md-inline {
  display: inline;
}
.fap-md .visible-md-inline-block {
  display: inline-block;
}
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none;
}
.fap-lg .visible-lg-block {
  display: block;
}
.fap-lg .visible-lg-inline {
  display: inline;
}
.fap-lg .visible-lg-inline-block {
  display: inline-block;
}
/***********************************************************************
 * Transformations & hiding
 *
 * fap-small is a configurable alias, default to fap-xs
 */
body.fap-small .column-1,
body.fap-small .column-2,
body.fap-small .column-3,
body.fap-small div#main-2,
body.fap-small div#main-3,
body.fap-small #logo img {
  width: 100%;
  left: 0;
}
body.fap-small div#wrapper {
  padding: 0;
}
body.fap-small #sidebar-left,
body.fap-small #sidebar-right {
  left: 0 !important;
  width: 100%;
}
body.fap-small #sidebar-left .padding {
  padding-left: 0.5em;
}
body.fap-small #menu-top {
  left: -9999px;
  position: absolute;
}
body.fap-small .slicknav_menu {
  display: block;
}
body.fap-small span.accessibility-text,
body.fap-small span.accessibility-label {
  left: -9999px;
  position: absolute;
}
body.fap-small .slicknav_menu_wrapper .fap-search {
  margin: 0;
  padding: 5px;
  background-color: #002c74;
}
body.fap-small .slicknav_menu_wrapper .fap-search form {
  background-color: #ffffff;
  padding: 0.5em;
  margin: 0;
}
body.fap-small .slicknav_menu_wrapper .inputbox.search-query {
  font-size: 150%;
  width: 70%;
}
body.fap-small .fap-search button.button {
  font-size: 150%;
  padding-top: 0;
  padding-bottom: 0;
}
body.fap-small .column_left,
body.fap-small .column_right {
  float: none;
  width: 100%;
}
/***********************************************************************
 * SlickNav responsive Menu
 *   Mobile Menu Core Style
*/
/* Move accessibility links to slick menu */
body.fap-small div#accessibility-links {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1002;
}
body.fap-small div#accessibility-links button {
  background-color: #003fa7;
  color: #ffffff;
  /*
    border-radius: 4px;
*/
  margin: 0 0.25em;
  border: none;
}
body.fap-small div#accessibility-links.accessibility-plain button {
  margin: 0 0.25em;
}
body.fap-small div#accessibility-links form {
  margin: 0;
}
body.fap-small div#top .padding,
body.fap-small div#accessibility-links .padding {
  padding: 0;
}
body.fap-small div#accessibility-links button:focus,
body.fap-small div#accessibility-links button:hover {
  background-color: #0053da;
}
/* make room for sicky menu */
body.fap-small {
  margin: 3.7em 0 0;
}
.slicknav_menu_wrapper {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 1001;
  top: 0;
}
.slicknav_btn {
  cursor: pointer;
  display: block;
  float: right;
  /*
    line-height: 1.125em;
*/
  position: relative;
  vertical-align: middle;
}
.slicknav_btn [class^="icon-"]:before,
.slicknav_btn [class*=" icon-"]:before {
  line-height: inherit;
  width: inherit;
}
body.fap-small a.slicknav_btn:hover {
  background-color: #0053da;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  float: left;
  /*
    line-height: 1.188em;
*/
}
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  border-radius: 1px;
  /*
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
*/
  display: block;
  height: 0.125em;
  width: 1.125em;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
body.fap-small a.slicknav_btn {
  color: white;
}
.slicknav_nav {
  clear: both;
}
.slicknav_nav ul,
.slicknav_nav li {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  /*
    font-size: 0.8em;
*/
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_nav .slicknav_row {
  display: block;
}
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}
.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table;
}
.slicknav_menu:after {
  clear: both;
}
body.fap-small a.slicknav_btn:focus,
body.fap-small a.slicknav_btn:active,
body.fap-small a.slicknav_btn {
  background-color: #003fa7;
  /*
    border-radius: 4px;
*/
  /*
    margin: 5px 5px 6px;
*/
  margin: 0.5em 0.3em;
  padding: 0.3em 0.5em;
  text-decoration: none;
}
.slicknav_menu .slicknav_menutxt {
  color: #ffffff;
  font-weight: bold;
  /*
    text-shadow: 0 1px 3px #000;
*/
}
.slicknav_menu .slicknav_icon-bar {
  background-color: #ffffff;
}
.slicknav_nav {
  background: #ffffff;
  /*
    font-size: 0.875em;
*/
  margin: 0;
  padding: 0;
}
.slicknav_nav,
.slicknav_nav ul {
  list-style: outside none none;
  overflow: hidden;
}
.slicknav_nav ul {
  /*
    margin: 0 0 0 20px;
*/
  padding: 0;
}
.slicknav_nav .slicknav_row {
  /*
    margin: 2px 5px;
    padding: 5px 10px;
*/
}
.slicknav_nav a {
  color: #f2f2f2;
  margin: 2px 5px;
  padding: 5px 10px;
  text-decoration: none;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  margin: 0;
  padding: 0;
}
.slicknav_nav .slicknav_row:hover {
  background: none repeat scroll 0 0 #dae8ff;
  /*
    border-radius: 6px;
*/
  color: #fff;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
/* slicknav FAP overrides */
.slicknav_nav .padding {
  padding: 0;
}
.slicknav_menu {
  background: none repeat scroll 0 0 #002c74;
  padding: 5px;
}
/*
body.fap-small .menu a:hover,
body.fap-small .menu li.current a:hover,
body.fap-small .menu a,
body.fap-small .menu ul:first-child li.parent:first-child,
body.fap-small .menu li.current > a {
    border-left: none;
    border-top: none;
}

.slicknav_nav a:focus,
.slicknav_nav a:focus > a,
.slicknav_nav a:hover > a,
.slicknav_nav a:hover {
    background: none repeat scroll 0 0 @responsive_menu_link_hover_bg;
    color: @responsive_menu_link_hover;
}
*/
body.fap-small ul.nav.menu a {
  border-left: none;
  border-top: none;
}
body.fap-small ul.nav.menu a:focus > a,
body.fap-small ul.nav.menu a:hover > a,
body.fap-small ul.nav.menu a:focus,
body.fap-small ul.nav.menu a:hover {
  background: none repeat scroll 0 0 #dae8ff;
  color: #002c74;
  border-left: none;
}
/** SlickNav black - fixed colors for all themes *********************/
body.black.fap-small a.slicknav_btn:focus,
body.black.fap-small a.slicknav_btn:active,
body.black.fap-small a.slicknav_btn,
body.black div#accessibility-links button {
  background-color: #002c81;
  color: #ffff00;
  border: solid 1px #ffffff;
}
body.black .slicknav_menu {
  background: none repeat scroll 0 0 #1e2031;
  padding: 5px;
}
body.black.fap-small div#accessibility-links button:focus,
body.black.fap-small div#accessibility-links button:hover,
body.black.fap-small .slicknav_nav a:hover,
body.black.fap-small .slicknav_nav .slicknav_row:hover,
body.black.fap-small a.slicknav_btn:hover {
  background-color: #003db4;
  color: #ffff00;
}
body.black.fap-small .slicknav_menu .slicknav_icon-bar {
  background-color: #ffff00;
}
body.black.fap-small .slicknav_menu .slicknav_menutxt {
  color: #ffff00;
}
body.black.fap-small .slicknav_nav {
  background: #002c81;
}
body.black.fap-small .slicknav_menu_wrapper .fap-search {
  background-color: #1e2031;
}
body.black.fap-small .slicknav_menu_wrapper .fap-search form {
  background-color: #002c81;
}
body.fap-small div#accessibility-links .accessibility-icon {
  background: transparent;
  width: inherit;
  margin: 3px;
}
