/** Define general colors */
/***********************************************************************
/* 5 colors scheme
 */
/* darker , for boxes and base color */
/* dark  */
/* lighter , for body bg and footer*/
/* dark2 */
/* darker2 , for top menu and links */
/***********************************************************************
 * Otions Switches
 */
/* activate left border on menu */
/* global switch */
/* menu header has bottom border only: light theme */
/* def.: 76% */
/***********************************************************************
/* Derived colors
 */
/* Layout small bits */
/* menu top font-weight */
/* .moduletable .menu */
/**********************************************************************/
/* Computed styles
 */
/* page title */
/* article title */
/* black */
body.white {
  background: #f2f2f2;
}
body.white .label.label-info {
  background-color: #f2f2f2;
}
body.white .label.label-info:hover {
  background-color: #002c74;
}
body.white a {
  /* AAA
    text-decoration: none;
    border-bottom: dotted 1px @links;
    */
  color: #002c74;
  background-color: transparent;
}
body.white a:hover,
body.white a:focus,
body.white a:active {
  background-color: #002c74;
  color: #ffffff;
  text-decoration: underline;
}
body.white.transitions a:hover,
body.white.transitions a:focus,
body.white.transitions a:active {
  transition: all 0.25s;
}
/* J3 form override */
body.white a.chzn-single:hover {
  color: inherit;
  text-decoration: none;
}
body.white a:focus,
body.white a:active {
  background-color: #002c74;
  color: #ffffff;
}
body.white.transitions a:focus,
body.white.transitions a:active {
  transition: all 0.2s;
}
body.white h1,
body.white h2,
body.white h3 {
  color: #002c74;
}
body.white h1 a,
body.white h2 a,
body.white h3 a {
  text-decoration: none;
  color: #990033;
}
body.white h1 a:hover,
body.white h2 a:hover,
body.white h3 a:hover {
  color: #ff0055;
  background-color: #ffffff;
}
body.white.transitions h1 a:hover,
body.white.transitions h2 a:hover,
body.white.transitions h3 a:hover {
  transition: all 0.5s;
}
body.white h1.item-title,
body.white h2.item-title,
body.white h3.item-title {
  color: #990033;
  border-bottom: solid 1px #990033;
}
body.white h1 {
  border-bottom: solid 1px transparent;
}
body.white div.items-row {
  border-top: solid 1px transparent;
}
body.white div.random-image {
  background-color: #cccccc;
}
/** Block styles */
body.white div#wrapper {
  background: #ffffff;
  /* NO BORDER
    border: solid 2px @wrapper_border;
*/
  padding: 0 1em;
  /* CSS 3 :-( */
}
body.white .module-title {
  color: #ffffff;
  background-color: #002c74;
  padding: 0.5em 0 0.5em 0.5em;
}
body.white div#footer .moduletable {
  border: none;
}
body.white div#footer .padding {
  color: #000000;
  background-color: #f2f2f2;
  border: solid 1px #efefef;
}
body.white div.fap-footer,
body.white div.fap-footer a body.white div.fap-footer a:hover {
  color: #000000;
}
/***************************************
 Menus
*/
body.white .menu a {
  color: #002c74;
  border-top: dotted 1px #cccccc;
  border-bottom: none;
}
body.white .menu li li a,
body.white .menu li li li a,
body.white .menu ul.parent li a {
  border-top: none;
}
body.white .menu li.current > a:link {
  background-color: #dae8ff;
}
/*
body.white .menu li.current li a {
    background-color: white;
}
*/
/*
body.white .menu li:hover > a,
*/
body.white .menu li a:active > a,
body.white .menu li > a:focus,
body.white .menu li > a:hover,
body.white .menu li > a:active,
body.white .menu li.current > a:focus,
body.white .menu li.current > a:hover,
body.white .menu li.current > a:active {
  background-color: #dae8ff;
  color: #002c74;
  text-decoration: none;
}
/* custom theme menu */
/* TOP menu */
body.white div#menu-top .menu li {
  border-bottom: none;
}
body.white div#menu-top .menu li a {
  font-weight: bold;
  font-size: 110%;
  margin: 1px 0;
}
/*
body.white div#menu-top .menu li.current > a {
    color: @menu_top_fg;
    background-color: transparent;
}
*/
body.white div#menu-top .menu a {
  background-color: #002c74;
  color: #ffffff;
}
body.white div#menu-top-bg {
  background-color: #002c74;
  color: #ffffff;
  box-shadow: 0 3px 10px 6px rgba(0, 0, 0, 0.3);
}
body.white div#logo a:focus,
body.white div#logo a:active,
body.white div#logo a:hover {
  background: none;
}
body.white div#menu-top {
  background-color: #002c74;
  color: #ffffff;
}
body.white div#menu-top .menu li.current a:hover,
body.white div#menu-top .menu a:hover,
body.white div#menu-top .menu a:focus {
  background-color: #ffffff;
  color: #002c74;
}
body.white .center-module-highlight .module-content p {
  margin: 0;
}
body.white .center-module-highlight .padding {
  padding: 1em;
}
body.white .center-module-highlight {
  background-color: #ffffff;
  border: solid 1px #002c74;
}
body.white .center-module-highlight .module-title {
  font-size: 150%;
  border: none;
  padding: 0;
  margin: 0.5em 0;
  background-image: none;
  background-color: inherit;
}
/* white specific */
body.white div#menu-top ul.menu li ul a {
  /*
    color: @menu_top_fg;
*/
  background-image: none;
  border-right: none;
}
body.white div#menu-top .menu > li > ul {
  border: solid 1px #002c74;
}
/* normal colors */
body.white div#menu-top .menu li.parent:hover > ul,
body.white div#menu-top .menu li.parent a:focus + ul,
body.white div#menu-top .menu ul li a,
body.white div#menu-top .menu li.parent[aria-expanded="true"] ul,
body.white div#menu-top .menu ul li.current a {
  color: #ffffff;
  background-color: #002c74;
}
body.white div#menu-top .menu ul ul li a {
  font-weight: normal;
  padding-left: 1em;
}
body.white div#menu-top .menu ul li a:focus,
body.white div#menu-top .menu ul li a:hover {
  background-color: #ffffff;
  color: #002c74;
}
/* BUG: when focus is in the submenu, display is none
body.white div#menu-top .menu li.parent:hover > ul,
body.white div#menu-top .menu li.parent a:focus +  ul {
    background-color: @menu_top_bg;
}
*/
/* moduletable menu */
body.white .moduletable_menu,
body.white .moduletable-menu,
body.white .moduletable {
  border: solid 1px #002c74;
}
body.white .moduletable > li > a {
  margin: 1px;
  padding: 0.5em;
}
/* Footer */
body.white div#footer a {
  color: #002c74;
  padding: 0.3em 0.5em;
}
body.white div#footer a:hover,
body.white div#footer a:active,
body.white div#footer a:focus {
  color: #ffffff;
  background-color: #002c74;
}
body.white #main a:hover,
body.white #main a:active,
body.white #main a:focus {
  background-color: #002c74;
  color: #ffffff;
}
body.white div.componentheading {
  color: gray;
  font-weight: bold;
}
body.white .readmore a {
  color: #002c74;
  /*
    font-weight: bold;
*/
  /* AAA: links underlined
    border-bottom: dotted 1px @readmore_fg;
    */
  padding: 0.2em 0 0.2em 0.5em;
  background-color: #eeeeff;
  text-decoration: none;
}
/* CSS 3 :-( */
body.white .readmore a:after {
  background-color: #002c74;
  color: #ffffff;
  margin-left: 0.3em;
  padding: 0.3em 0.1em;
  vertical-align: top;
  content: "\e006";
  font-family: "IcoMoon";
  font-size: small;
}
body.white .readmore a:focus,
body.white .readmore a:hover,
body.white .readmore a:active,
body.white a.contentpagetitle:hover {
  background: #002c74;
  color: #ffffff;
  text-decoration: none;
}
body.white .button,
body.white .btn,
body.white .button-search,
.btn-toolbar .btn {
  border: solid 1px #ffffff;
  background-color: #002c74;
  color: #ffffff;
}
body.white .button:hover,
body.white button:hover,
body.white .btn-toolbar .btn:hover,
body.white .button-search:hover {
  background: #224e96;
}
/* MCE fix */
body.white .mce-panel button:hover {
  background: inherit;
}
body.white .sectiontableentry1 {
  background: #f2f2f2;
}
body.white div.pagenav {
  background: #f2f2f2;
  border: solid 1px #002c74;
}
body.white .editor .button,
body.white .editor button {
  background: inherit;
}
/***************************************
 tags */
body.white .highlight {
  background: yellow;
}
body.white .pagination,
body.white ul.pagenav {
  background: #f2f2f2 none repeat scroll 0%;
  border-top: none;
  border-bottom: none;
}
body.white .alert {
  background: #f2f2f2 none repeat scroll 0%;
  font-size: 110%;
  font-style: italic;
  padding: 1em;
}
body.white form.editor a:hover,
body.white .mceWrapper a:hover {
  background: inherit;
  color: black;
}
/****************************************
 accessibility links */
body.white .accessibility-img button,
body.white .accessibility-img span.accessibility-icon {
  background-color: #002c74;
  color: #ffffff;
}
body.white span.accessibility-icon button:focus,
body.white span.accessibility-icon button:hover {
  background-color: #0053da;
}
body.white span.accessibility-text {
  color: #000000;
}
body.white .accessibility-im button,
body.white .accessibility-plain button {
  background-color: #ffffff;
  border: #cccccc;
  color: #000000;
  font-weight: bold;
}
body.white div#accessibility-links button:focus,
body.white div#accessibility-links button:hover {
  color: #ffffff;
  background-color: #000000;
}
/* from 1.7 */
body.white table.weblinks th a,
body.white table.newsfeeds th a,
body.white table.category th a,
body.white table.jlist-table th a {
  color: #ffffff;
}
body.white table.weblinks th a else,
body.white table.newsfeeds th a else,
body.white table.category th a else,
body.white table.jlist-table th a else {
  background-color: #002c74;
}
body.white table.weblinks th,
body.white table.newsfeeds th,
body.white table.category th,
body.white table.jlist-table th {
  color: #ffffff;
  background: none repeat scroll 0 0 #002c74;
}
body.white tr,
body.white td {
  border: 1px solid #dddddd;
}
body.white fieldset {
  border: solid 2px #dddddd;
}
body.white .article-info {
  color: #002c74;
}
body.white .article-info a {
  color: #002c74;
}
body.white .article-info a:focus,
body.white .article-info a:hover,
body.white .article-info a:active {
  color: #ffffff;
  background-color: #002c74;
}
body.white .star {
  color: red;
}
body.white .panel h3.pane-toggler a {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}
body.white .panel h3.pane-toggler-down a {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}
body.white .panel h3.pane-toggler a:hover,
body.white .panel h3.pane-toggler-down a:hover,
body.white .panel h3.pane-toggler a:focus,
body.white .panel h3.pane-toggler-down a:focus {
  color: #f5f5f5;
  background: #002c74;
}
body.white .cat-list-row1 {
  background-color: #f2f2f2;
}
/* FE article form editing, com_media */
body.white #main a:hover {
  /*
    color: inherit;
*/
  text-decoration: none;
  border-bottom: solid 1px transparent;
}
body.white .thumbnail {
  background-color: white;
}
body#component-body.white {
  background: #ffffff !important;
  margin: 1em;
}
/* Fix for background-color:  ignored! */
body#component-body.white .thumbnail a:focus,
body#component-body.white .thumbnail a:hover,
body#component-body.white .thumbnail a:active {
  color: #002c74;
  text-decoration: underline;
}
body#component-body.white iframe#imageframe {
  border: 1px solid #002c74;
  margin: 1em 0;
}
/* Bootstrap */
body.white .badge {
  background-color: #003fa7;
  border-radius: 0.6em;
  color: white;
  display: inline-block;
  line-height: 1;
  min-width: 0.8em;
  font-size: 80%;
  padding: 0.125em 0.25em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
